VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=http://localhost:3001
VITE_VAPID_KEY=your_vapid_key_here
VITE_OPENWEATHER_API_KEY=your_openweather_api_key_here
VITE_BOOKIT_TV_URL=http://localhost:3002
